html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
  width: 100%;
}
.logo {
  text-align: center;
  padding-top: 1%;  
}
.logo img {
  width: 5%;
}
.menu {
  padding-top: 1%;
}
.menu ul{
  list-style: none;
  display: flex;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  margin-top: -55px;
}
.menu ul li{
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  text-transform: uppercase;
}
.bio-cover {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  background: rgba(189, 189, 189, 0.26); 
}
.bio-cover img{
  width: 10%;
  border-radius: 200px;  
}
.bio-cover blockquote {
  border-left: none!important;
  width: 50%!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
.about-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7%;
  padding-bottom: 10%;
}
.about-container h2 {
  text-align: center;
  padding-bottom: 2%;
}
.about-block {
  width: 33%;
  text-align: center;
  display: inline-block;
  padding-top: 7%;
}
.about-block p{
  padding-left: 1vw;
  padding-right: 1vw;  
}
.about-block img{
  width: 35%;
  border-radius: 200px;
  background: #172c45;    
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
}
.about-block img:hover {
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}
footer {
  background: #f5f5f5;
  padding: 2%;
}
.footer-content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.footer-content img {
  width: 5%;
}
.footer-content p{
  margin: 0;
  text-align: right;
  display: inline-block;
  width: 94%;
}
.breadcrumb p {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
.form-box {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

.form-box .form-profile {
  display: inline-block;
  width: 49%;
  padding-left: 1vw;
  vertical-align: top;  
}

.form-box .form-container {
  display: inline-block;
  width: 49%;
  padding-left: 1vw;
  padding-top: 2%;
}

button.btn.btn-primary {
  width: 100%;
}

.btn-primary {
  background-color: #f2981f!important;
  border-color: #f2981f!important;
}

.btn-primary:hover {
  background-color: #d18023!important;
  border-color: #f2981f!important;
}

@media screen and (min-width:320px) and (max-width:479px) { 
  .menu ul {
    display: flex;
    width: 100%;
    margin-top: -14%;
    padding-left: 5%;
  }
  .logo img {
    width: 20%;
  }
  .logo {
    padding-top: 5%;
  }
  .menu ul li {
    font-size: 18px;
  }
  .swiper-container {
    height: 230px;
  }
  .about-block {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .about-container{
    padding-top: 5%;    
  }
  .about-container h2 {
    padding-bottom: 7%;
  }  
  .about-container p {
    font-size: 16px;
    padding-bottom: 7%;
  }
  .form-box .form-profile {
    width: 100%;
  } 
  .form-box .form-container {
    width: 100%;
  } 
  .form-profile p{
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .breadcrumb p {
    font-size: 16px;
  } 
  .form-control {
    height: 50px;
  }
  .form-box {
    padding-bottom: 15%;
  }  
  .footer-content img {
    width: 20%;
  }
  .footer-content p {
    width: 75%;
    font-size: 13px;
  }         
}

@media screen and (min-width:480px) and (max-width:639px) { 
  .menu ul {
    display: flex;
    width: 75%;
    margin-top: -11%;
    padding-left: 5%;
  }
  .logo img {
    width: 15%;
  }
  .logo {
    padding-top: 5%;
  }
  .menu ul li {
    font-size: 18px;
  }
  .swiper-container {
    height: 230px;
  }
  .about-block {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .about-container{
    padding-top: 5%;    
  }
  .about-container h2 {
    padding-bottom: 7%;
  }  
  .about-container p {
    font-size: 16px;
    padding-bottom: 7%;
  }
  .form-box .form-profile {
    width: 100%;
  } 
  .form-box .form-container {
    width: 100%;
  } 
  .form-profile p{
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .breadcrumb p {
    font-size: 16px;
  } 
  .form-control {
    height: 50px;
  }
  .form-box {
    padding-bottom: 15%;
  }  
  .footer-content img {
    width: 20%;
  }
  .footer-content p {
    width: 75%;
  }         
}

@media screen and (min-width:640px) and (max-width:799px) { 
  .menu ul {
    display: flex;
    width: 50%;
    margin-top: -7%;
    padding-left: 4%;
  }
  .logo img {
    width: 10%;
  }
  .logo {
    padding-top: 2%;
  }
  .menu ul li {
    font-size: 18px;
  }
  .swiper-container {
    height: 400px;
  }
  .about-block {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .about-container{
    padding-top: 5%;    
  }
  .about-container h2 {
    padding-bottom: 7%;
  }  
  .about-container p {
    font-size: 16px;
    padding-bottom: 7%;
  }
  .form-box .form-profile {
    width: 100%;
  } 
  .form-box .form-container {
    width: 100%;
  } 
  .form-profile p{
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .breadcrumb p {
    font-size: 16px;
  } 
  .form-control {
    height: 50px;
  }
  .form-box {
    padding-bottom: 20%;
    padding-top: 5%;
  }  
  .footer-content img {
    width: 15%;
  }
  .footer-content p {
    width: 84%;
    font-size: 18px;
  }         
}

@media screen and (min-width:800px) and (max-width:1199px) { 
  .menu ul {
    display: flex;
    width: 50%;
    margin-top: -7%;
    padding-left: 4%;
  }
  .logo img {
    width: 10%;
  }
  .logo {
    padding-top: 2%;
  }
  .menu ul li {
    font-size: 18px;
  }
  .swiper-container {
    height: 400px;
  }
  .about-block {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .about-container{
    padding-top: 5%;    
  }
  .about-container h2 {
    padding-bottom: 7%;
  }  
  .about-container p {
    font-size: 16px;
    padding-bottom: 7%;
  }
  .form-box .form-profile {
    width: 100%;
  } 
  .form-box .form-container {
    width: 100%;
  } 
  .form-profile p{
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .breadcrumb p {
    font-size: 16px;
  } 
  .form-control {
    height: 50px;
  }
  .form-box {
    padding-bottom: 15%;
  }  
  .footer-content img {
    width: 15%;
  }
  .footer-content p {
    width: 84%;
    font-size: 18px;
  }         
}